.titleText {
    text-align: left;
    margin: 0 10% 10% 20%;
}

.boldText {
    width: 540px;
    height: 400px;
    font-weight: bold;
    font-size: 80px;
    margin-bottom: -100px;
}

.paragraph, .paragraphSixthPage {
    width: 540px;
    font-size: 26px;
    margin-top: -20px;
    opacity: 50%;
    font-family: Calibri;
}

.demo-button {
    margin-bottom: 5px;
    font-size: 20px;
    background-color: #FFA500;
    color: #FFFFFF;
    padding: 25px 24px; /* means internal padding */
    border: none;
    cursor: pointer; /* currsor change, can interact */
    display: inline-flex; /* text and arrow symbol in one line */
    align-items: center;
    border-radius: 8px;
}

.arrow-down {
    /* Width and height set to 0, imagine four triangles (borders) created*/
    margin-left: 5px;
    width: 0; 
    height: 0;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-top: 5px solid white;
}

.platformToUse {
    margin-left: 15px;
    font-size: 25px;
    opacity: 50%;
    font-family: Calibri;
}

.right-image {
    width: 40%;
    height: 40%;
    float: right;
    padding-right: 300px;
}

.menu {
    text-align: center;
    margin-top: 20px;
    padding-top: 100px;
    padding-right: 100px;
    padding-bottom: 70px;
}

.menu a {
    font-size: 22px;
    font-family: Calibri;
    text-decoration: none;
    color: black;
    margin-right: 50px;
}

.logo-circle {
    width: 5em;
    height: 5em;
    background-color: orange;
    border-radius: 50%;
}

.logo-text { 
    position: relative;
    padding-right: 100px;
    font-weight: 400px;
    font-size: 40px;
    font-family: Calibri;
}

.menu .logo-text {
    font-size: 25px;
}

.logo-text::before {
    content: 'X';
    display: inline-block;
    width: 2em;
    height: 2em;
    background-color: orange;
    border-radius: 50%;
    text-align: center;
    line-height: 2em;
    margin-right: 10px;
    font-weight: bold;
    color: #FFFFFF
}

.button-request {
    font-size: 20px;
    background-color: #FFFFFF;
    color: #FFA500;
    padding: 15px 20px;
    border: 1px solid #FFA500;
    cursor: pointer;
    border-radius: 8px;
    margin-left: 60px;
}

/* OVERVIEW.HTML starts ====================================================*/

.ct-chart.chart1 {
    width: 400px;
    height: 300px;
}

.ct-label.ct-horizontal {
    color: black;
}

.ct-label.ct-vertical {
    color: black;
}


.activity-text {
    margin-top: 20px;
    width: 30%;
}

/* CIRCLE DIAGRAM====================================================*/

/* #my-pie-chart-container {
    display: flex;
    align-items: center;
    justify-content: center;
    
    border: 1px solid black;
} */

#my-pie-chart {
    /* color and percentage of circle diagram */
    background: conic-gradient(
        #b3bbd4 0.00% 33.33%, /* 33.33% means 1/3 */
        orange 33.33% 66.66%,  /* 66.66% means 2/3 */
        blue 66.66% 100%
    );
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: relative;
}

#my-pie-chart::before {
    /* white circle inside diagram */
    content: "";
    width: 100px; /* ADJUST */
    height: 100px; /* ADJUST */
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 25px;
    left: 25px;
}

#legenda {
    display: flex;
    align-items: center;
    background-color: white;
    padding-top: 30px;
    
}

.entry {
    display: flex;
    justify-content: center;
    align-items: center;
}

.entry-color {
    height: 10px;
    width: 10px;
}


.entry-text {
    display: inline;
    white-space: nowrap;
    margin-left: 5px;
    padding-right: 10px;
}

/* Определите цвета для каждой категории по id*/
#color-white {
    background-color: #b3bbd4;
}

#color-orange {
    background-color: orange;
}

#color-blue {
    background-color: blue;
}

.ct-chart.chart1,
#my-pie-chart-container {
    display: inline-block;
    vertical-align: top;
    padding-left: 80px;
    
    border: 1px solid black;
}

.secondGraph {
    margin-top: -40px;
    padding-bottom: 40px;
}


/* OVERVIEW file using svg image =================================*/

.svgImage {
    width: 1110px;
    height: 625px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:calc(50% - 312.5px);

    margin-top: 900px;
    margin-bottom: 200px;
}

/* #FF7235 - main color */
.secondPageContainer, .downloaded-container {
    background: linear-gradient(to right, #FF7235, #ffa500, #fff);
    color: #000;
    height: 75.5vh;
    
}

.sponsorColor {
    background-color: white;
    

    border: 3px solid black;
}

.facebook, .google, .cocacola, .linkedin, .samsung {
    width: 200px;
    height: 200px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    color: gray;
    filter: saturate(0) grayscale(100%) opacity(30%);
}

.facebook {
    padding-left: 450px;
}

.google {
    width: 240px;
    height: 130px;
    padding-bottom: 35px;
    
}

.cocacola {
    width: 200px;
    height: 130px;
    padding-bottom: 35px;
    padding-right: 10px;
}

.linkedin {
    width: 120px;
    height: 70px;
    padding-bottom: 65px;
    padding-left: 30px;
}

.samsung {
    padding-bottom: 10px;
    padding-left: 20px;
    height: 180px;
}

/* THIRD PAGE */

.thirdPageParagraph {
    margin-top: 100px;
}

.boldTextSecond {
    width: 400px;
    height: 400px;
    font-weight: bold;
    font-size: 80px;
    margin-bottom: -100px;
    margin-top: -1px;
}

.thirdPageParagraph, .fifthPageParagraph {
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 36px;
    /* identical to box height */
    text-transform: uppercase;

    /* Light */
    color: #BDBDBD;
}

.thirdPageImage, .fifthPagePicture {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

    margin-left: 600px;
    margin-top: 30px;
}

.learn-more-button {
    font-family: Arial, sans-serif;
    display: inline-block;
    background: none;
    border: none;
    color: #FF7235;
    cursor: pointer;
    font-weight: bold;
    font-size: 22px;
    padding-right: 15px;
}

.arrow {
    font-size: 20px;
    /* Button */
}

/* FOURTH PAGE */

.titleTextFourthPage {
    float: right;
    padding-right: 300px;
    margin-top: -150px;
}

.fourthPageImage {
    margin-top: 250px;
    margin-left: 400px;
    margin-top: -1px;
}


/* FIFTH PAGE */
.titleTextFifthPage {
    text-align: left;
    margin: 15% 10% 10% 20%;
}


.boldTextFifth, .boldTextSixth {
    width: 440px;
    height: 400px;
    font-weight: bold;
    font-size: 80px;
    margin-bottom: -100px;
}

.fifthPagePicture {
    margin-top: 100px;
}

/* SIXTH PAGE */

.sixthPageTitle {
    display: flex;
    align-items: center;
    margin: 15% 10% 10% 20%;
}

.boldTextSixth {
    width: 550px;
    height: 400px;
    font-size: 80px;
}

.paragraphSixthPage {
    width: 380px;
    height: 200px;
    margin-left: 150px;
    margin-top: 50px;
}

.button-container {
    display: flex;
    justify-content: center;
}

.square-button {
    margin: 20px;
    margin-top: -150px;
    height: 300px;
    background-color: #ebe8e7;
    color: white;
    padding: 20px 40px;
    border: none;
    border-radius: 10%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-1:hover {
    background-color: white;
    color: #f0e4df;
}

.button-2:hover {
    background-color: white;
    color: #f0e4df;
}

.button-3:hover {
    background-color: white;
    color: #f0e4df;
}

.button-title, .button-paragraph {
    color: gray;
    text-align: center;
}

.button-title {
    font-size: 25px;
}

.button-paragraph {
    width: 220px;
}

/* SEVENTH PAGE */
.pageSevenTitle, .page-eight-title, .downloaded-title {
    margin-top: 200px;
    text-align: center;
    font-size: 80px;
    font-weight: bold;
}

.plan-button-container {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 100px;
}

.plan-button {
    text-align: center;
    background: transparent;
    border: 1px solid rgba(128, 128, 128, 0.5);
    padding: 20px;
    max-width: 300px;
    width: 220px;
    height: 300px;
    margin: 20px;
    border-radius: 10px;
    padding-left: 40px;
}

.plan-title {
    text-align: left;
    font-size: 24px;
    color: #000;
}

ul {
    list-style: none;
    padding: 0;
    text-align: left;
}

li {
    font-size: 16px;
    color: #000;
}


.icon-check::before {
    padding-right: 5px;
    content: "✔ ";
    color: #00FF00;
}


.price {
    font-size: 24px;
    color: #000;
    text-align: left;
    padding-bottom: 20px;
}

.pricePerYear {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.per-user-price {
    font-size: 10px;
    opacity: 50%;

}

.year {
    font-size: 15px;
    opacity: 50%;
    font-weight: normal;
}

button.get-button {
    background: transparent;
    border: 2px solid #FF7235;
    color: #FF7235;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;

    float: left;
    transition: background-color 0.3s;
}

button.get-button:hover {
    background-color: #FF7235;
    color: white;
}

.icon-arrow-right::before {
    content: "➔";
    margin-left: 5px;
}

.plan-button-logo {
    float: left;
}

.svg-image-container {
    padding-bottom: 20px;
}


/* PAGE EIGHT */
.page-eight-title {
    width: 600px;  
}

.page-eight-container, .downloaded-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Slideshow container */
.slideshow-container {
    position: relative;
    background: #f1f1f1;
    margin-top: 50px;
}

/* Slides */
.mySlides {
    display: none;
    padding: 80px;
    text-align: center;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
}

/*The dot/bullet/indicator container */
.dot-container {
    text-align: center;
    padding: 20px;
    background: #ddd;
}

/* The dots/bullet/indicator */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
    background-color: #717171;
}

/* Add an italic font style to all quotes */
q {font-style: italic;}

/* Add a blue color to the author */
.author {color: cornflowerblue;}

.ceo-class {
    opacity: 50%;
}



/* PAGE NINE */
.downloaded-title {
    width: 1000px;
    color: white;
}

.downloaded-paragraph {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.custom-demo-button {
    background-color: #FFFFFF;
    color: #FFA500;
}

.custom-arrow-down {
    border-top: 5px solid #FFA500;
}

.page-nine-picture-one, .page-nine-picture-two {
    position: relative;
}

.image-container-downloaded {
    display: flex;
    flex-direction: row;
}

.page-nine-picture-one {
    right: 55%;
    bottom: 40%;
}

.page-nine-picture-two {
    left: 55%;
    bottom: 40%;
}

.page-ten-container {
    margin-top: 100px;
}


.custom-menu {
    text-align: center;
    text-transform: uppercase;

    margin-top: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
}

.custom-logo-text {
    position: relative;
    right: 3%;
    text-transform: none;

    padding-right: 0;
}

.custom-menu a {
    padding-right: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.newsletter {
    position: relative;
    left: 5%;
}


.links, .legal {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100px;
    height: 200px;

    left: 37.8%;
    top: 20px;
}

.links a, .legal a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding-bottom: 15px;
    position: relative;
}

.links-container {
    display: flex;
}

.legal {
    width: 200px;
    left: 44%;
}

.email-subscription {
    display: flex;
    align-items: center;
}

.input-container,
.button-container-for-subscribe {
    border: 1px solid black;
    padding: 5px;
}

.email-input {
    background: white;
    color: black;
    border: none;
    padding: 10px;
}

.subscribe-button {
    background: orange;
    color: white;
    padding: 10px 20px;
    border: none;
}
    